{% extends "mbr/base.html" %}
{% load i18n %}
{% block content %}
    <div class="contacts">
        <p style="text-align: left;"><strong>{% trans "Contacts" %}</strong></p>
        <p style="padding-left: 30px; text-align: left;">Met Office: +38(044)281-79713, +38(044)281-73233;</p>
        <p style="padding-left: 30px; text-align: left;">Technical Support:<i class="fa fa-phone" aria-hidden="true"></i> +38(044)281-74283;</p>
        <p style="padding-left: 30px; text-align: left;">Contracting, purchasing and sales department: +38(044)281-73275 (phone/fax);</p>
    </div>
{% endblock %}
